

.center{
    display:block;
    margin-left:auto;
    margin-right:50px;
    width:40%;
    float:right;
    border: 5px solid burlywood;

}

img{
    border: 5px solid burlywood;
}

#front_page_text{
    text-align:right;
    color:white;
    margin-right:50px;
    
}



.button{
    /* color:white; */
    background-color:burlywood;
    font-family: Georgia, Georgia, 'Times New Roman', Times, serif;
    font-size:35px;
  
    padding:10px;
    margin-top:2%;
    margin-left:150px;
}

#portfolio.button{
    font-size: 20px;


}

.button:hover{
    background-color:rgb(170, 146, 114);
}

/* a:link{
    color:yellow;
}

a:visited{
    color:orange;
} */

.date{
    
    color:black;
    background-color:rgb(240, 173, 111);
}

.heading{
    background-color:rgb(247, 194, 145)
}



/* https://www.w3schools.com/csS/css3_flexbox.asp*/

.resumeContain{
    display:block;
    background-color: darkolivegreen;
    color: black;
    
    
    width:70%;
    margin-left:15%;
    text-align:center;
    

}


/* .link{
    padding-left:250px;
} */


.resumeContain section{
    background-color: rgb(238, 157, 81);
    text-align:left;
    margin: 20px;
    padding: 30px;
    font-size: 25px;
}


#back{
    background-color: rgb(22, 37, 47);
}

#school:hover:before {
    content:'';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("rhit-campus.jpg") no-repeat center;
    background-size: cover;
    
}

#skills:hover:before {
    content:'';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("skills.jpg") no-repeat center;
    background-size: cover;
    
}

#work:hover:before {
    content:'';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("work.jpg") no-repeat center;
    background-size: cover;
    
}

#volun:hover:before {
    content:'';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("volunteer.jpg") no-repeat center;
    background-size: cover;
    
}



#lead:hover:before {
    content:'';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("mentor.jpg") no-repeat center;
    background-size: cover;
  

}




