

.center{
    display:block;
    margin:auto;
    width:30%;
}

#front_page_text{
    text-align:center;
    color:white;
}

body section nav div{
    color:white;
    font-size:30px;
    padding-bottom: 15px;
    padding-left:15px;
}

a:link{
    color:yellow;
}

a:visited{
    color:orange;
}

