

.center{
    display:block;
    margin:auto;
    width:30%;
}

#front_page_text{
    text-align:center;
    color:white;
}

body section nav div{
    color:white;
    font-size:30px;
    padding-bottom: 15px;
    padding-left:15px;
}

a:link{
    color:yellow;
}

a:visited{
    color:orange;
}

.date{
    
    color:gray;
}

.link{
    float:left;
}

/* https://www.w3schools.com/csS/css3_flexbox.asp*/

.resumeContain{
    background-color: #dddddd;
    color: black;
    width:30%;
    float:left;
    margin:1%;
    text-align:center;
    

}

/*.resumeContain section{
    background-color: #f1f1f1;
    text-align:left;
    margin: 10px;
    /*padding: 10px;
    font-size: 15px;
}
    */



